@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
  background: black;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 1025px){
  *::-webkit-scrollbar {
    display: none;
}
}
/* Constants */ 

/* To use  */
/*  color: var(--custom-color); */
:root {

    --heading: rgb(24 24 29);
    --unHighlightedText: #676767;
    --highlightedText: #fff;

    --bgColor: #1e1e1e;
    --bgCard: #171717;
    --bgIcon: #2d2d2d;
    --bgCardLight:#252525;
    --bgCardDark:#1d1d1d;

    --hoverItem: #a1a0a0;
    --selectedItem: #fff;

    --white: #fff;
    --black:  #000;
    --hr: #2e2e2e;


    --mobile: "768px";
    --tab: "998px";
}
 

/* ShortHand for styling for dashboard */
@layer components {
  .main-container {
    @apply h-screen flex-grow overflow-x-hidden overflow-auto flex flex-wrap content-start p-2;
  }
  .smallerDevice-container{
    @apply w-full h-screen hidden sm:block sm:w-20 xl:w-60 flex-shrink-0;
  }
}
body{
  color:#676767;
  background-color: #1e1e1e;
}
.higlihted-text{
  color: #fff;
}
.bg-card{
  background-color:#171717;
}
.bg-sidebar-card-top{
  background-color: #353535;
}
.sidebar-separator-top{
  border-bottom: 1px solid #2e2e2e;
}
.sidebar-separator-bottom{
  border-top: 1px solid #2e2e2e;
}
.icon-background{
  background: #2d2d2d;
}

.tooltip-head{
background: #1d1d1d;
}
.tooltip-body{
  background:#252525 ;
}

.search-icon{
  top: 50%;
  transform: translate(0, -50%);
}

.card-stack-border{
  border-bottom: 2px solid #696969;
}
.bg-details{
  background-color: #1e1e1e;
}

.add-component-head{
  background-color: #181818;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

.sidebar-item-selected{
  color: white;
  border-right: 2px solid white;
}
.sidebar-item{
  border-right: 2px solid transparent;
}
.sidebar-item:hover {
 color:#a1a0a0;
}
